{% if action.href %}
    <a
        class="tw-button-icon"
        href="{{ action.href }}"
        aria-label="{{ action.label }}"
        title="{{ action.title|default:action.label }}"
    >
        <span class="h-[1.05rem] w-[1.05rem]">
            {% include "crm/components/list_workspace/action_icon.html" with icon=action.icon only %}
        </span>
    </a>
{% else %}
    <button
        class="tw-button-icon"
        type="{{ action.button_type|default:'button' }}"
        aria-label="{{ action.label }}"
        title="{{ action.title|default:action.label }}"
        {% for attr in action.data_attrs %}
            {{ attr.name }}="{{ attr.value }}"
        {% endfor %}
    >
        <span class="h-[1.05rem] w-[1.05rem]">
            {% include "crm/components/list_workspace/action_icon.html" with icon=action.icon only %}
        </span>
    </button>
{% endif %}
